<h1></h1>
<p>A simple way to find vulnerabilities in any url</p>
<div>
  <input type="text" placeholder="Enter Url here" class="text-input" [(ngModel)]="url"/>
  <button type="button" class="scan-btn" (click)="scanUrl()">Scan Now</button>
</div>
<div class="scan-result-container">
  <h3 id="tableLabel">Scan Results</h3>
  <p *ngIf="isLoading"><em>Loading...</em></p>

  <table *ngIf="!isLoading" class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Source</th>
        <th>Score (0 - 100)</th>
        <th>Malicious</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of scanResults">
        <td>{{ result.source }}</td>
        <td>{{ result.score }}</td>
        <td>{{ result.IsMalicious ? "true" : "false" }}</td>
      </tr>
    </tbody>
  </table>
</div>

